* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #222;
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(122deg, #e46f52, #50c4d8);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  margin: 0px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  overflow: hidden;
  height: 97vh;
  transition: all 0.8s ease-in;
}

/* search bar for enter city name  */
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #929292;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button {
  border: 0;
  outline: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button img {
  width: 19px;
}

/* weather information */
.weather-icon {
  width: 50%;
  max-width: 300px;
  margin-top: 30px;
  margin-bottom: 10px;
  height: auto;
  background-position: center;
  background-size: cover;
}
.weather-info h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather-info h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 35px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 26px;
  margin-top: -5px;
  padding: 2px;
}
.city,
.details,
.temp {
  display: none;
}
.front-tital {
  font-size: 40px;
  font-weight: 300;
}
.error {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  display: none;
}

/* Media queries for mobile responsiveness */
@media screen and (max-width: 600px) {
  .card {
    height: 92.75vh;
    width: 100vw;
    margin: 0px auto 0;
    border-radius: 20px;
    padding: 30px 25px;
    background-size: cover;
    background-position: center;
  }
  .search {
    width: 60%;
  }
  .search input {
    padding: 10px 25px;
    height: 45px;
    margin-right: 12px;
    font-size: 16px;
  }
  .search button {
    height: 45px;
    cursor: pointer;
    padding: 13px;
  }
  .weather-icon {
    margin-top: 60px;
    width: 40vw;
    margin-bottom: 10px;
    height: 28vh;
  }

  .weather-info h1 {
    font-size: 70px;
  }
  .weather-info h2 {
    font-size: 40px;
    margin-top: 8px;
  }
  .details {
    padding: 0 0px;
    margin-top: 70px;
  }

  .humidity,
  .wind {
    font-size: 16px;
  }
  .error {
    font-size: 16px;
  }
}
